.sobre {
    text-align: center;
    min-height: 90vh;
}

.divFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.descricaoSobre {
    min-width: 45vh;
    max-height: 80vh;
    margin-top: 5vw;
   

}

.sobreImg {
    max-width: 50vw;
    max-height: 40vh;
    min-width: 40vw;
   
}

.sobreTexto {
    max-width: 50vw;
    max-height: 40vh;
    padding: 3vw;
    text-align: justify;
    line-height: 1.5rem;
}


@media  only screen and (max-width: 900px) {
    .descricaoSobre {
        width: 100vw;
        
    }
    .sobreTexto{
        max-width: 90vw;
       
    }
}