.header {
    width: 100%;
    overflow: hidden;
    
}

.linhaSuperior {
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
    background: #0cebeb;
    background: -webkit-linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
    background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
}

.areaCliente {
    padding: 1vh;
}
.areaCliente:hover {
    color: white;
    background: #00bf8f;
    background: -webkit-linear-gradient(to right, #00bf8f, #001510);
    background: linear-gradient(to right, #00bf8f, #001510);
}

.tel {
    padding: 1vh;
}
.tel:hover {
    color: white;
    background: #00bf8f;
    background: -webkit-linear-gradient(to right, #00bf8f, #001510); 
    background: linear-gradient(to right, #00bf8f, #001510);
}

.areaMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    font-size: .9rem;
}
.linksMenu span {
    padding: 2vh;
    min-height: min-content;
}

.linksMenu span:hover {
    color: white;
    background: #0cebeb;
    border-radius: 15px;
    background: -webkit-linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
    background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
}

.areaMenu a {
    text-decoration: none;
    color: #001510;
}
.menuDrop{
    
    position: absolute;
    z-index: 11;
    left: 3em;
    display: none;

}

@media  only screen and (max-width: 900px) {
    .areaMenu span {
     display: none;
    }
    .menuDrop{
        display: block;
    }
    .imgLogo{
        margin-left: 25vw;
    }
}