@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@313&family=Roboto:wght@300;400&display=swap');
body {
  width: 100%;
  margin: 0;
  font-family: 'Big Shoulders Display', cursive;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}